/* Offscreen focus grabber so it doesn't affect input-group layout */
.ww-focus-grabber {
    position: fixed;
    left: -9999px;
    top: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
}
