@page "/quickmedia"
@using WearWare.Common.Media
@using WearWare.Components.Forms.AddPlayableItemForm
@using WearWare.Components.Forms.EditPlayableItemForm
@using WearWare.Components.Shared.PlaylistItem
@rendermode InteractiveServer

<PageTitle>Quick Media</PageTitle>

@if (quickButtons is null || quickButtons.Count == 0)
{
	<p>No quick-media buttons available.</p>
}
else
{
    <button class="reconvert-all-button btn-outline-primary" @onclick="() => ShowReConvertAllGlobal()">ReConvert all with new Matrix Options</button>
    <button class="reconvert-all-button btn-outline-primary" @onclick="() => ShowReConvertAllEmbedded()">ReConvert all with new Brightness</button>
	<div class="qm-button-list">
		@for (int i = 0; i < quickButtons.Count; i++)
		{
			var btn = quickButtons[i];
			var index = i;  // Need to preserve index for lambda capture, else lambda always gets last value of i
			<div class="qm-button-item">
				<span class="qm-button-title">B@(i + 1)</span>
				<div class="qm-item-controls">
					@if (btn is null)
					{
						<button class="btn btn-sm btn-outline-primary" @onclick="() => OnAddDialogShow(index)">Add</button>
					}
					else
					{
						<button class="btn btn-sm btn-outline-primary" @onclick="() => OnEditQuickMediaItem(btn.Item, index, EditPlayableItemFormMode.Edit)">Edit</button>
					}
                    @if (btn?.Item is not null)
                    {
                        <button class="btn btn-sm btn-outline-danger" @onclick="() => ConfirmDeleteQuickMediaButton(index)">Delete</button>
                    }
				</div>
				@if (btn?.Item is not null)
				{
					<PlaylistItem ImageSrc="@($"/quickmedia-images/{index}/{btn.Item.SourceFileName}")" Item="btn.Item" />
				}
			</div>
		}
	</div>
}

@if (_showAddDialog)
{
	<AddPlayableItemForm 
		@ref="_addFormRef"
		LibraryItems="_libraryItems"
		InsertIndex="_addDialogInsertIndex"
		PageTitle="@($"QuickMedia Button {_addDialogInsertIndex+1}")"
		OnCancel="OnAddDialogCancel"
		OnAdd="OnAddDialogItemChosen" />
}

@if (_showEditDialog && _editingItem is not null)
{
    <EditPlayableItemForm
        @ref="_editFormRef"
        EditingItem="_editingItem"
        EditingIndex="_editingIndex"
        ImageUrl="@($"/quickmedia-images/{_editingIndex}/{_editingItem.SourceFileName}")"
        OnCancel="OnEditFormCancel"
        OnSave="OnSaveQuickMediaItem"
        OnReprocessAsync="ReprocessQuickMediaButtonAsync"
        ItemType="PlayableItemType.QuickMedia"
        FormMode="_formMode"
    />
}

@if (_showReConvertAllDialog)
{
    <div style="position:fixed; z-index:9999; inset:8% 10%; display:flex; align-items:flex-start; justify-content:center;">
        <div style="width:80%;">
            <EditPlayableItemForm @ref="_editFormRef"
                ItemType="PlayableItemType.QuickMedia"
                FormMode="@_reconvertAllMode"
                OnReconvertAllOk="OnReconvertAll"
                OnCancel="OnEditFormCancel"
            />
        </div>
    </div>
}