.qm-button-title {
    font-size: 0.8rem;
}

.qm-button-item {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 70px; /* Make assigned and unassigned buttons have consistent height */
}

.qm-item-controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 0 0 auto;
    align-items: center;
    align-items: flex-end;
    width: 3.5rem;
}

.qm-item-controls .btn {
    width: 100%;
}

.reconvert-all-button {
    width: 100%;
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}