@page "/quickmedia"
@inherits DataPageBase
@using WearWare.Common.Media
@using WearWare.Components.Forms.AddPlayableItemForm
@using WearWare.Components.Forms.EditPlayableItemForm
@using WearWare.Components.Shared.PlayableItemCard
@rendermode InteractiveServer

<PageTitle>WareWare QuickMedia</PageTitle>

@if (!Ready)
{
	<LoadingOverlay />
}
else if (_addFormModel is not null)
{
	@* Add QuickMedia item dialog*@
	<AddPlayableItemForm 
		@ref="_addFormRef"
		LibraryItems="_libraryItems"
		FormModel="_addFormModel"
		PageTitle="@($"QuickMedia Button {_addFormModel.ItemIndex+1}")"
		OnCancel="OnAddDialogCancel"
		OnAdd="OnAddDialogItemChosen"
	/>
}
else if(_editFormModel is not null)
{
	@if (_editFormModel.FormMode == EditPlayableItemFormMode.ReConvertAllMatrix || _editFormModel.FormMode == EditPlayableItemFormMode.ReConvertAllBrightness)
	{
		@* ReConvert All dialog *@
		<EditPlayableItemForm @ref="_editFormRef"
			FormModel="_editFormModel"
			OnReconvertAllOk="OnReconvertAll"
			OnCancel="OnEditFormCancel"
			ZIndex="2000"
		/>
	}
	else
	{
		@* Edit PlayableItem dialog*@
		<EditPlayableItemForm
			@ref="_editFormRef"
			FormModel="_editFormModel"
			OnSave="OnSaveQuickMediaItem"
			OnCancel="OnEditFormCancel"
			ZIndex="2000"
		/>
	}
}
else
{
	@* Regular QuickMedia view *@
	@if (quickButtons is null || quickButtons.Count == 0)
	{
		<p>No quick-media buttons available.</p>
	}
	else
	{
		<button class="btn-sm btn-outline-primary rounded rounded-3 w-100 mb-2" @onclick="() => ShowReConvertAllGlobal()">ReConvert all with new Matrix Options</button>
		<button class="btn-sm btn-outline-primary rounded rounded-3 w-100 mb-4" @onclick="() => ShowReConvertAllEmbedded()">ReConvert all with new Brightness</button>
		<div class="d-flex flex-column">
			@for (int i = 0; i < quickButtons.Count; i++)
			{
				var btn = quickButtons[i];
				var index = i;  // Need to preserve index for lambda capture, else lambda always gets last value of i
				<div class="col-12 mb-3">
					<div class="card h-100 shadow-sm bg-light">
						<div class="card-body p-0">
							<div class="d-flex align-items-center gap-3 p-2">
								<div class="d-flex align-items-center">
									<span class="text-7">B@(i + 1)</span>
								</div>
								<div class="d-flex flex-column justify-content-between me-2 gap-2">
									@if (btn is null)
									{
										<button class="btn btn-sm btn-outline-primary" @onclick="() => OnAddDialogShow(index)">Add</button>
									}
									else
									{    
										<button class="btn btn-sm btn-outline-primary" @onclick="() => OnEditQuickMediaItem(btn.Item, index)">Edit</button>
									}
									@if (btn?.Item is not null)
									{
										<button class="btn btn-sm btn-outline-danger" @onclick="() => ConfirmDeleteQuickMediaButton(index)">Delete</button>
									}
								</div>
								@if (btn?.Item is not null)
								{
									<div class="flex-grow-1">
										<PlayableItemCard
											ImageSrc="@($"/quickmedia-images/{index}/{btn.Item.SourceFileName}")"
											FormPage="EditPlayableItemFormPage.QuickMedia"
											Item="btn.Item"
										/>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	}
}