@page "/library"
@using WearWare.Common.Media
@using WearWare.Components.Forms.EditPlayableItemForm
@using WearWare.Components.Shared.PlayableItemCard
@rendermode InteractiveServer

<PageTitle>WareWare - Library</PageTitle>

<span style="display:block; margin-bottom:1em;">Click on an image to play a preview as a QuickMedia item in FOREVER mode. Click the item again to stop the preview.</span>
@if (items == null)
{
    <p>Loading...</p>
}
else if (!items.Any())
{
    <p>No items found in the library.</p>
}
else
{
    <button class="btn-sm btn-outline-primary rounded rounded-3 w-100 mb-2" @onclick="() => ShowReConvertAllGlobal()">ReConvert all with new Matrix Options</button>
    <button class="btn-sm btn-outline-primary rounded rounded-3 w-100 mb-4" @onclick="() => ShowReConvertAllEmbedded()">ReConvert all with new Brightness</button>
    <div class="d-flex flex-column">
        @foreach (var item in items)
        {
            <div class="d-flex gap-2 mb-3">
                @* Edit / Delete buttons *@
                <div class="d-flex flex-column justify-content-between">
                    <button type="button" class="btn btn-sm btn-outline-primary" @onclick="() => ShowReconvert(item)">Edit</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" @onclick="() => ConfirmDelete(item)">Delete</button>
                </div>
                @* Item info *@
                <PlayableItemCard
                    ImageSrc="@($"/library-image/{item.SourceFileName}")"
                    FormPage="EditPlayableItemFormPage.Library"
                    Item="item"
                />
            </div>
        }
    </div>
}

@if (_editFormModel != null && _editFormModel.FormMode != EditPlayableItemFormMode.ReConvertAllMatrix && _editFormModel.FormMode != EditPlayableItemFormMode.ReConvertAllBrightness)
{
    <div style="position:fixed; z-index:9999; inset:8% 10%; display:flex; align-items:flex-start; justify-content:center;">
        <div style="width:80%;">
            <EditPlayableItemForm @ref="_editFormRef"
                FormModel="_editFormModel"
                OnSave="OnSaveLibraryItem"
                OnCancel="OnEditFormCancel"
            />
        </div>
    </div>
}

@if (_editFormModel is not null && (_editFormModel.FormMode == EditPlayableItemFormMode.ReConvertAllMatrix || _editFormModel.FormMode == EditPlayableItemFormMode.ReConvertAllBrightness))
{
    <div style="position:fixed; z-index:9999; inset:8% 10%; display:flex; align-items:flex-start; justify-content:center;">
        <div style="width:80%;">
            <EditPlayableItemForm @ref="_editFormRef"
                FormModel="_editFormModel"
                OnReconvertAllOk="OnReconvertAll"
                OnCancel="OnEditFormCancel"
            />
        </div>
    </div>
}
