@page "/library"
@inherits DataPageBase
@using WearWare.Common.Media
@using WearWare.Components.Base
@using WearWare.Components.Forms.EditPlayableItemForm
@using WearWare.Components.Shared.PlayableItemCard
@rendermode InteractiveServer

<PageTitle>WareWare - Library</PageTitle>

@* Edit *@
@if (_editFormModel != null)
{
    @if (_editFormModel.FormMode == EditPlayableItemFormMode.ReConvertAllMatrix || _editFormModel.FormMode == EditPlayableItemFormMode.ReConvertAllBrightness)
    {
        @* ReConvert All dialog *@
        <EditPlayableItemForm @ref="_editFormRef"
            FormModel="_editFormModel"
            OnReconvertAllOk="OnReconvertAll"
            OnCancel="OnEditFormCancel"
        />
    }
    else
    {
        @* Edit PlayableItem dialog*@
        <EditPlayableItemForm
            @ref="_editFormRef"
            FormModel="_editFormModel"
            OnSave="OnSaveLibraryItem"
            OnCancel="OnEditFormCancel"
        />
    }
}
else
{
    @* Regular Library view *@
    <span style="display:block; margin-bottom:1em;">Click on an image to play a preview as a QuickMedia item in FOREVER mode. Click the item again to stop the preview.</span>
    @if (!Ready)
    {
        <LoadingOverlay />
    }
    else if (items == null || !items.Any())
    {
        <p>No items found in the library.</p>
    }
    else
    {
        <button class="btn-sm btn-outline-primary rounded rounded-3 w-100 mb-2" @onclick="() => ShowReConvertAllGlobal()">ReConvert all with new Matrix Options</button>
        <button class="btn-sm btn-outline-primary rounded rounded-3 w-100 mb-4" @onclick="() => ShowReConvertAllEmbedded()">ReConvert all with new Brightness</button>
        <div class="d-flex flex-column">
            @foreach (var item in items)
            {
                    <div class="mb-3">
                    <div class="card h-100 shadow-sm bg-light">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center gap-3 p-2" style="cursor:pointer;" @onclick="() => OnItemClicked(item)">
                                <div class="d-flex flex-column justify-content-between me-2 gap-2">
                                    <button type="button" class="btn btn-sm btn-outline-primary" @onclick="() => OnEditClicked(item)" @onclick:stopPropagation="true">Edit</button>
                                    <button type="button" class="btn btn-sm btn-outline-danger" @onclick="() => ConfirmDelete(item)" @onclick:stopPropagation="true">Delete</button>
                                </div>

                                <div class="flex-grow-1">
                                    <PlayableItemCard
                                        ImageSrc="@($"/library-image/{item.SourceFileName}")"
                                        FormPage="EditPlayableItemFormPage.Library"
                                        Item="item"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
