@using WearWare.Common.Media

<div class="playlist-item-image-and-info">
    @if (!string.IsNullOrEmpty(ImageSrc))
    {
        <img class="playlist-item-image" src="@ImageSrc" alt="@Item?.Name" @onclick="HandleImageClick" style="cursor:@(ImageClicked.HasDelegate ? "pointer" : "default")" />
    }
    <div class="playlist-item-info">
        <strong class="playlist-item-title">@Item?.Name</strong>
        @if (Item is not null)
        {
            @if (Item.PlayMode == PlayMode.FOREVER)
            {
                <div class="playlist-item-mode">Forever</div>
            }
            else if (Item.PlayMode == PlayMode.LOOP)
            {
                <div class="playlist-item-mode">Loop @($"{Item.PlayModeValue}x")</div>
            }
            else if (Item.PlayMode == PlayMode.DURATION)
            {
                <div class="playlist-item-mode">Duration @($"{Item.PlayModeValue}s")</div>
            }
            <div class = "playlist-item-brightness">Brightness: @Item.CurrentBrightness%</div>
        }
    </div>
</div>
