@namespace WearWare.Components.Forms

@using System

<div class="d-flex flex-row align-items-center">
    @if (ShowEnableToggle)
    {
        <InputCheckbox class="me-3 ww-large-checkbox" @bind-Value="EnabledChecked" />
    }
    <label class="w-50">@Label</label>
    <CascadingValue Value="EnabledChecked">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public bool ShowEnableToggle { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public Func<bool?>? VisibilityGetter { get; set; }
    [Parameter] public Action<bool?>? VisibilitySetter { get; set; }

    private bool EnabledChecked
    {
        get => VisibilityGetter == null ? true : (VisibilityGetter() ?? false);
        set
        {
            VisibilitySetter?.Invoke(value ? (bool?)true : null);
            // request UI update
            StateHasChanged();
        }
    }
}