@namespace WearWare.Components.Forms

@using System

@{
    var incomingClass = string.Empty;
    if (AdditionalAttributes != null && AdditionalAttributes.TryGetValue("class", out var c) && c is string cs)
    {
        incomingClass = cs?.Trim() ?? string.Empty;
    }
    var wrapperClass = string.IsNullOrEmpty(incomingClass)
        ? "ww-visibility-wrapper d-flex flex-row align-items-center"
        : $"ww-visibility-wrapper d-flex flex-row align-items-center {incomingClass}";

    Dictionary<string, object>? otherAttrs = null;
    if (AdditionalAttributes != null)
    {
        otherAttrs = new Dictionary<string, object>(AdditionalAttributes);
        otherAttrs.Remove("class");
    }
}

<div class="@wrapperClass" @attributes="otherAttrs">
    @if (ShowEnableToggle)
    {
        <InputCheckbox class="form-check-input ww-large-checkbox" @bind-Value="EnabledChecked" />
    }
    <label class="@LabelClass">@Label</label>
    <CascadingValue Value="EnabledChecked">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public string Label { get; set; } = string.Empty;
    [Parameter] public bool ShowEnableToggle { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter] public Func<bool?>? VisibilityGetter { get; set; }
    [Parameter] public Action<bool?>? VisibilitySetter { get; set; }
    [Parameter] public string LabelClass { get; set; } = string.Empty;

    private bool EnabledChecked
    {
        get => VisibilityGetter == null ? true : (VisibilityGetter() ?? false);
        set
        {
            VisibilitySetter?.Invoke(value ? (bool?)true : null);
            // request UI update
            StateHasChanged();
        }
    }
}