@page "/"

<PageTitle>WareWare Home</PageTitle>

<h1>WearWare</h1>

<p>For details of this app, please visit the <a href="https://github.com/evilC/WearWare" target="_blank">GitHub repository</a>.</p>

<p><a href="https://evilc.github.io/WearWare/" target="_blank">General info about this t-shirt</a></p>

<img src="qr-faq.png" alt="WearWare Screenshot" style="width: 100%; height: auto;" />
