@page "/options"
@using WearWare.Components.Forms.MatrixOptionsForm
@rendermode InteractiveServer

<PageTitle>WareWare Options</PageTitle>


@if (!showForm)
{
    <div class="mb-3">
        <button class="btn btn-primary" style="width: 100%;" @onclick="ShowForm">Configure Matrix Options</button>
    </div>
}
else
{
    <MatrixOptionsForm
        Options="modalOptions"
        Visibility="MatrixConfigService.Visibility"
        OnGlobalOptionsForm="true"
        HideRelativeBrightness="true"
        Action="Save"
        OnValidSubmit="OnSaveFromForm"
        OnCancel="OnCancelFromForm"
        Title="Global Matrix Options"
    />
}