/* Controls for playlist config (Playing/Editing DDLs) */
.config-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.config-controls-row {
    margin-bottom: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-right: 0 !important;
}

.config-controls label {
    width: 2.5rem;
    /* font-weight: bold; */
    margin-right: 0.5rem
}

#activePlaylist, #editingPlaylist {
    width: 10rem;
}

/* Container for playlist items — use divs instead of ul/li so there's no indent */
.playlist-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.playlist-add-button {
    width: 100%;
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

/* ToDo: Replace with bootstrap */
.reconvert-all-button {
    width: 100%;
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
