@page "/import"
@inherits DataPageBase
@rendermode InteractiveServer

<PageTitle>WareWare Import</PageTitle>

@if (!Ready)
{
	<LoadingOverlay />
}
else
{
    if (_editFormModel != null)
    {
        @* Import dialog *@
        <EditPlayableItemForm @ref="editFormRef" 
            FormModel="_editFormModel"
            OnSave="OnSaveImportItem" 
            OnCancel="OnEditFormCancel" 
        />
    }

    @if (importItems != null && importItems.Any())
    {
        @* Regular view *@
        <div class="mb-3">
            <button type="button" class="btn btn-primary w-100" @onclick="TriggerFileInput">Upload new file</button>
            <InputFile id="@inputId" style="display:none;" OnChange="HandleFileSelected" />
        </div>
        <div class="d-flex flex-column">
            @foreach (var item in importItems)
            {
                <div class="col-12 mb-3">
                    <div class="card h-100 shadow-sm bg-light">
                        <div class="card-body p-0">
                            <div class="d-flex align-items-center gap-3 p-2" style="cursor:pointer;" @onclick="() => ShowForm(item)">
                                <div class="d-flex flex-column justify-content-between me-2 align-items-center">
                                    <button type="button" class="btn btn-sm btn-outline-danger" @onclick="() => ConfirmDelete(item)" @onclick:stopPropagation="true">Delete</button>
                                </div>
                                <div class="flex-grow-1">
                                    <PlayableItemCard
                                        ImageSrc="@($"/incoming-media/{item.SourceFileName}")"
                                        Item="item"
                                        FormPage="EditPlayableItemFormPage.Import"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No images found in the incoming folder.</p>
    }
}