@page "/import"
@using WearWare.Common.Media
@using WearWare.Components.Forms.EditPlayableItemForm
@using WearWare.Components.Shared.PlayableItemCard
@rendermode InteractiveServer

<PageTitle>WareWare Import</PageTitle>

@if (_editFormModel != null)
{
    @* Import dialog *@
    <EditPlayableItemForm @ref="editFormRef" 
        FormModel="_editFormModel"
        OnSave="OnSaveImportItem" 
        OnCancel="OnEditFormCancel" 
    />
}
else if (importItems == null)
{
    <p>Loading images...</p>
}
else if (!importItems.Any())
{
    <p>No images found in the incoming folder.</p>
}
else
{
    @* Regular view *@
    <div class="mb-3">
        <button type="button" class="btn btn-primary" @onclick="TriggerFileInput">Upload new file</button>
        <InputFile id="@inputId" style="display:none;" OnChange="HandleFileSelected" />
    </div>
    <ul class="import-list" style="list-style:none; padding:0; margin:0;">
        @foreach (var item in importItems)
        {
            <li style="margin-bottom:2em; display:flex; align-items:center; gap:0.5em; cursor:pointer;"
                @onclick="() => ShowForm(item)">
                @* Delete *@
                <div style="display:flex; flex-direction:column; gap:0.25em;">
                    <button type="button" class="btn btn-sm btn-outline-danger" @onclick="() => ConfirmDelete(item)" @onclick:stopPropagation="true">Delete</button>
                </div>
                <PlayableItemCard
                    ImageSrc="@($"/incoming-media/{item.SourceFileName}")"
                    Item="item"
                    ImageClicked="@(() => ShowForm(item))"
                    FormPage="EditPlayableItemFormPage.Import"
                />
            </li>
        }
    </ul>
}